@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600&family=Share+Tech&display=swap");
:root {
  --clr-primary: #2b2d42; /* For main text, headings, buttons */
  --clr-accent: #8d99ae; /* For secondary elements */
  --clr-success: #2a9d8f; /* For hover effects, links, and icons */
  --clr-danger: #ef233c; /* For error or warning messages */
  --clr-text: #4a4a4a; /* Neutral gray for regular text */
  --clr-muted: #6c757d; /* Muted gray for placeholders/small text */
  --clr-card-bg: #ffffff; /* Card backgrounds */
  --clr-bg: #edf2f4; /* Website background */
  --clr-shadow: rgba(0, 0, 0, 0.05); /* Subtle shadow */

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --box-shadow: 0 2rem 3rem var(--clr-light);
}

.dark-theme-variables {
    --clr-primary: #f5f5f5;       /* For main text, headings, buttons */
    --clr-accent: #8d99ae;       /* For secondary elements */
    --clr-success: #2a9d8f;      /* For hover effects, links, and icons */
    --clr-danger: #ef476f;       /* For error or warning messages */
    --clr-text: #c7c7c7;         /* Softer gray for headings */
    --clr-muted: #a0a0a0;        /* Muted gray for placeholders/small text */
    --clr-card-bg: #1e1e1e;      /* Card backgrounds */
    --clr-bg: #121212;           /* Website background */
    --clr-shadow: rgba(0, 0, 0, 0.4); /* Subtle shadow */
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
    /* font-family: "Share Tech","Poppins", serif; */
    font-family: "Poppins", serif;
    color: var(--clr-primary);
    background-color: var(--clr-bg);
}

/* NAV BAR SECTION */
.navbar{
    display: flex;
}

.navbar .navbar-left{
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 100px;
    width: 10%;
    align-content: center;
    overflow: hidden;
}

.navbar .navbar-left a img{
    object-fit: cover;
}

.navbar .navbar-center{
    width: 70%;
    align-content: center;
}

.navbar .navbar-center ul{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.navbar .navbar-center ul li a{
    padding: 1rem;
    border-radius: 0.75rem;
    color: var(--clr-primary);
}

.navbar .navbar-center ul li a:hover{
    background-color: #2a9d8f;
    border-radius: 0.75rem;
    transition: background-color 0.4s ease;
    color: var(--clr-bg);
}

.navbar .navbar-right{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}